#.bash_history
#.bash_logout
#.cache
#.cargo
#.fonts
#.gnupg
#.lesshst
#.local
#.profile
#.rustup
#.ssh
#.sudo_as_admin_successful
#Desktop
#Documents
#Downloads
#Music
#Pictures
#Public
#Templates
#Videos
#go
#keyring.deb
#programming
#snap
#todo.txt
*
!.gitignore
!.gitmodules
!.bashrc
!.bash_aliases
!.config
!.config/alacritty
!.config/alacritty/*
!.config/i3
!.config/i3/*
!.config/nvim
!.config/nvim/*
!.fonts/
!.fonts/*
